<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <Link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
    <div class="container">
        <h2 class="page-header text-primary text-center">Carousel</h2>
        <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg">
                    </div>
                    <div class="item">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg">
                    </div>
                    <div class="item">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="fa fa-chevron-left fa-lg" style="margin-top:400px"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="fa fa-chevron-right fa-lg" style="margin-top:400px"></span>
                </a>
            </div>
    </div>
</body>
</html>